@charset "UTF-8";
:root{

} 

body{

}

*{
    margin: 0px;
    padding: 0px;
}

main{
    text-align: center;
}

.cima{
    background-color: black;
    color: white;
    height: 900px;
}

.cima h1{
    padding-top: 250px;
    padding-bottom: 60px;
    font-size: 4em;
}

.cima p{
    font-size: 1.5em;
    padding-bottom: 60px;
}

.cima a{
    margin-top: 30px;
    padding: 10px;
}

.chamada{
    height: 300px;
    padding-top: 50px;
}

.chamada h2{
    font-size: 2.5em;
    text-align: left;
    text-indent: 50px;
    padding-top: 10px;
    font-weight: normal;

}

.chamada p{
    text-align: left;
    text-indent: 30px;
    padding: 10px;
    font-size: 1.3em;
}

.projeto{
    height: 800px;
}

.projeto h1{
    padding-bottom: 50px;
    font-size: 2.5em;
    font-weight: normal;
}

.projeto h2{
    font-size: 1.3em;
    font-weight: normal;
}

.projeto p{
    background-color: lightgray;
    height: 500px;
    width: 300px;
    border-radius: 5px;
    padding: 20px;
    margin: 20px;
    gap: 30px;
    display: inline-block;
}

.lht{
    height: 1000px;
}

.lht h1{
    font-weight: normal;
    font-size: 2.5em;
    padding-bottom: 50px;

}

.lht h2{
    font-size: 1.8;
    font-weight: normal;
}

.lht h3{
    font-weight: normal;
    font-size: 1.2em;
    padding: 10px;
}

.lht p{
    font-size: 1em;
    padding: 10px;
}

footer a{
    font-size: 1.3em;
    text-decoration: none;
    color: white;
    margin: 100px;
    
}

footer a:hover{
    color: blue;
}

footer{
    background-color: black;
    color: white;
    height: 200px;
    padding-top: 80px;
}
 footer p{
    text-align: center;
    margin-top: 130px;
}

